{
  "ecmaFeatures": {
    "modules": true,
    "jsx": true,
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true,
  },
  "rules": {
    // possible errors
    "comma-dangle": [2, "always-multiline"],

    // strict
    "strict": [2, "never"], // babel takes care of that

    // variables
    "no-shadow": 0, // this is way too restrictive

    // style
    "indent": [2, 2],
    // because other languages such as rust don’t have single quotes:
    "quotes": [2, "double", "avoid-escape"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "never"],

    // es6
    "generator-star-spacing": [2, "after"],
    "no-var": [2],
    "object-shorthand": [2, "always"],
    "prefer-const": [2],
  },
}
